<div header>
    <div class="container">
        <div logo>
            <img src="assets/logo.svg" (click)="openPage('home')">
        </div>
        <div menu *ngIf="!isLogged">
            <div (click)="openPage('home')">
                Home
            </div>
            <div register (click)="openPage('register')">
                Register
            </div>
            <div login (click)="switchLoginStatus()">
                Login
            </div>
        </div>
        <div menu *ngIf="isLogged">
            <div (click)="openPage('')">
                Home
            </div>
            <div (click)="openPage('my-comics')">
                My Comics
            </div>
            <div (click)="openPage('my-favorites')">
                My Favorites
            </div>
            <div name>
                Lucas Baumgart
            </div>
            <div logout (click)="switchLoginStatus()">
                Log Out
            </div>
        </div>
    </div>
</div>
