<div header>
    <div class="container">
        <div logo>
            <img src="assets/logo.svg" (click)="openPage('home')">
        </div>
        <div menu *ngIf="!isLogged">
            <div (click)="openPage('home')" [class.active]="currentPage == 'home'">
                Home
            </div>
            <div register (click)="openPage('register')">
                Register
            </div>
            <div login (click)="openPage('login')">
                Login
            </div>
        </div>
        <div menu *ngIf="isLogged">
            <div (click)="openPage('home')" [class.active]="currentPage == 'home'">
                Home
            </div>
            <div (click)="openPage('my-comics')" [class.active]="currentPage == 'my-comics'">
                My Comics
            </div>
            <div (click)="openPage('my-favorites')" [class.active]="currentPage == 'my-favorites'" *ngIf="false">
                My Favorites
            </div>
            <div name>
                Gabriel Visconti
            </div>
            <div logout (click)="switchLoginStatus()">
                Log Out
            </div>
        </div>
    </div>
</div>
