[header] {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #fff;
    [logo] {
        display: inline-block;
        padding-top: 15px;
        width: 74px;
        img {
            height: 50px;
            cursor: pointer;
        }
    }
    [menu] {
        display: inline-block;
        text-align: right;
        width: calc(100% - 75px);
        div {
            display: inline-block;
            font-weight: 700;
            font-size: 14px;
            line-height: 16.41px;
            letter-spacing: -2.5%;
            text-transform: uppercase;
            padding: 10px 16px 10px 16px;
            margin-left: 24px;
            cursor: pointer;
        }
        [register] {
            box-shadow: inset 0px 0px 0px 2px #DC042B;
            color: #000;
        }
        [login] {
            background-color: #DC042B;
            color: #FFF;
        }
        [name] {
            font-weight: 400;
            text-transform: none;
        }
        [logout] {
            box-shadow: inset 0px 0px 0px 2px #AAAAAA;
            color: #000;
        }
        .active {
            color: #DC042B;
        }
    }
}