<app-options></app-options>

<div my-comics>
    
    <div item>
        <div image>
            <img height="225" width="150" src="assets/placeholders/avengers.png"/>
        </div>
        <div info-left>
            <div text>
                <strong>Title:</strong>
                Avengers (2003) #8
            </div>
            <div text *ngIf="authService.isLogged">
                <strong>Owner:</strong> 
                Lucas Baumgart
            </div>
            <div text>
                <strong>Format:</strong>
                Comic Hand Book
            </div>
            <div text>
                <strong>Pages:</strong>
                34
            </div>
            <div text>
                <strong>Condition:</strong>
                Good
            </div>
            <div button>
                More info
            </div>
        </div>
        <div info-right>
            <div price>
                <div label>Price</div>
                <div value>$18</div>
            </div>
            <div button buy>
                Buy
            </div>
            <div button favorite>
                Favorite
            </div>
            <div text>
                <strong>Created at</strong>
                03/22/2021
                <strong>by</strong>
                Lucas Baumgart
            </div>
        </div>
    </div>

</div>
