<div class="container">
    <app-options></app-options>
    <div my-comics>
        
        <div item *ngFor="let comic of comics">
            <div image>
                <img height="225" width="150" src="{{comic.object.thumbnail.path + '.' + comic.object.thumbnail.extension}}"/>
            </div>
            <div info-left>
                <div text>
                    <strong>Title:</strong>
                    {{comic.title}}
                </div>
                <div text *ngIf="authService.isLogged">
                    <strong>Owner:</strong> 
                    {{comic.name}}
                </div>
                <div text>
                    <strong>Format:</strong>
                    {{comic.object.format}}
                </div>
                <div text>
                    <strong>Pages:</strong>
                    {{comic.object.pageCount}}
                </div>
                <div text>
                    <strong>Condition:</strong>
                    {{comic.condition}}
                </div>
                <div button (click)="openMoreInfoPage(comic)">
                    More info
                </div>
            </div>
            <div info-right>
                <div text>
                    {{comic.registerDatetime | date: 'dd/MM/yyyy': '+180'}}
                </div>
                <div price>
                    <div value>
                        $ {{comic.price}}
                    </div>
                    <div label>
                        Price
                    </div>
                </div>
                <div button edit (click)="openEditComicModal(comic)">
                    Edit
                </div>
                <div button remove (click)="openRemoveComicModal(comic)">
                    Remove
                </div>
            </div>
        </div>

    </div>
</div>
