<div add-comic>

    <div header>
        + Add Comic
        <div close (click)="bsModalRef.hide()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div search>
        <ng-select [clearable]="false"
                   [searchable]="true"
                   class="custom"
                   placeholder="Search by Title on Marvel API">
            <ng-option [value]="1" *ngFor="let i of [1,2,3,4,5,6]">
                <div image>
                    <img height="75" width="50" src="assets/placeholders/avengers.png"/>
                </div>
                <div info>
                    <div>
                        Title: <strong>Avengers (2003) #8</strong>
                    </div>
                    <div>
                        Format: <strong>Comic Hand Book</strong>
                    </div>
                    <div>
                        Page Number: <strong>34</strong>
                    </div>
                </div>
            </ng-option>
        </ng-select>
    </div>

</div>