<div add-comic>

    <div header>
        + Add Comic
        <div close (click)="bsModalRef.hide()">
            <img src="assets/icons/close.svg">
        </div>
    </div>

    <div search *ngIf="selectedComic == null">
        <ng-select [(ngModel)]="selectedComic"
                   [clearable]="false"
                   [searchable]="true"
                   class="custom"
                   placeholder="Search by Title on Marvel API">
            <ng-option [value]="comic" *ngFor="let comic of comics">
                <div image>
                    <img height="75" width="50" src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}"/>
                </div>
                <div info>
                    <div>
                        Title: <strong>{{comic.title}}</strong>
                    </div>
                    <div>
                        Format: <strong>{{comic.format}}</strong>
                    </div>
                    <div>
                        Page Number: <strong>{{comic.pageCount}}</strong>
                    </div>
                </div>
                <div ifSelected>
                    <div>
                        <strong>{{comic.title}}</strong>
                    </div>
                </div>
            </ng-option>
        </ng-select>
    </div>

    <div preview *ngIf="selectedComic != null">
        <div image>
            <img height="75" width="50" src="{{selectedComic.thumbnail.path + '.' + selectedComic.thumbnail.extension}}"/>
        </div>
        <div info>
            <div>
                Title: <strong>{{selectedComic.title}}</strong>
            </div>
            <div>
                Format: <strong>{{selectedComic.format}}</strong>
            </div>
            <div>
                Page Number: <strong>{{selectedComic.pageCount}}</strong>
            </div>
        </div>
        <div close (click)="cleanSelection()">
        </div>
    </div>

    <div condition *ngIf="selectedComic != null">
        <input type="text" 
               placeholder="Condition"
               [(ngModel)]="condition">
    </div>

    <div price *ngIf="selectedComic != null">
        <input type="text" 
               placeholder="Price"
               [(ngModel)]="price">
    </div>

    <div description *ngIf="selectedComic != null">
        <textarea type="text" 
                  placeholder="Description"
                  [(ngModel)]="description"></textarea>
    </div>

    <div add-button [class.disabled]="condition == null || price == null">
        + Add Comic
    </div>

</div>