<div class="container">
    <app-options></app-options>
    <div home>
        
        <div item *ngFor="let comic of comics">
            <div image>
                <img height="225" width="150" src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}"/>
            </div>
            <div info-left>
                <div text>
                    <strong>Title:</strong>
                    {{comic.title}}
                </div>
                <div text>
                    <strong>Format:</strong>
                    {{comic.format}}
                </div>
                <div text *ngIf="comic.pageCount > 0">
                    <strong>Pages:</strong>
                    {{comic.pageCount}}
                </div>
                <div text>
                    <strong>Condition:</strong>
                    Good
                </div>
                <div button (click)="openMoreInfoPage()">
                    More info
                </div>
            </div>
            <div info-right>
                <div price>
                    <div value>
                        ${{comic.prices[0].price}}
                    </div>
                    <div label>Price</div>
                </div>
                <div button buy (click)="openMoreInfoPage()">
                    Buy
                </div>
                <div button favorite>
                    Favorite
                </div>
                <div text>
                    <strong>Created at</strong>
                    03/22/2021
                    <strong>by</strong>
                    Lucas Baumgart
                </div>
            </div>
        </div>

    </div>
</div>