[home] {
    min-height: 400px;
}

[options] {
    margin-top: 40px;
    margin-bottom: 48px;
    div {
        display: inline-block;
        margin-right: 12px;
        &:last-of-type {
            margin-right: 0px;
        }
    }
    [search] {
        input {
            width: 525px;
            background: url(../../../assets/icons/search.svg) no-repeat scroll 490px 14px;
            background-color: white;
            padding: 0px 44px 0px 14px;
        }
    }
    [character] {
        position: relative;
        width: 224px;
        ng-select {
            margin-top: 1px;
        }
        .ng-select.custom ::ng-deep .ng-select-container  {        
            border-radius: 0;
            border: 0;
            font-weight: 700;
            height: 48px!important;
            box-shadow: none;
        }
        .ng-select.custom ::ng-deep .ng-dropdown-panel  {        
            border-radius: 0;
            border: 0;
        }
        .ng-select.custom ::ng-deep .ng-input {
            top: 0!important;
            height: 48px!important;
        }
    }
    [order-by] {
        width: 169px;
        .ng-select.custom ::ng-deep .ng-select-container  {        
            border-radius: 0;
            border: 0;
            font-weight: 700;
            height: 48px!important;
            box-shadow: none;
        }
        .ng-select.custom ::ng-deep .ng-dropdown-panel  {        
            border-radius: 0;
            border: 0;
        }
        .ng-select.custom ::ng-deep .ng-input {
            top: 0!important;
            height: 48px!important;
        }
    }
    [limit] {
        input {
            width: 126px;
        }
    }
}