<div class="container">
    <div login>
        <div image>
            <img height="54" width="75" src="assets/logo.svg"/>
        </div>
        <div form>
            <div message *ngIf="error.active">
                {{error.message}}
            </div>
            <div>
                <input type="text" 
                       placeholder="E-mail"
                       [(ngModel)]="email">
            </div>
            <div>
                <input type="password" 
                       placeholder="Password"
                       [(ngModel)]="password">
            </div>
            <div button (click)="verifyFields()">
                Login
            </div>
            <div social>
                <div label>
                    or use Social Login
                </div>
                <div buttons>
                    <img src="assets/facebook.svg"/>
                    <img src="assets/google.svg"/>
                </div>
            </div>
        </div>
        <div login>
            <div label>
                I don't have a password
            </div>
            <div button (click)="openRegisterPage()">
                Register now
            </div>
        </div>
    </div>
</div>