<div options>

    <div search>
        <input type="text" placeholder="Im Looking for...">
    </div>

    <div character>
        <ng-select [(ngModel)]="selectedCharacter"
                   [clearable]="false"
                   [searchable]="false"
                   [loading]="loading"
                   (scrollToEnd)="onScrollToEnd()"
                   class="custom"
                   placeholder="Character">
            <ng-option *ngFor="let char of characters" [value]="char">
                <img height="65" width="65" src="{{char.thumbnail.path + '.' + char.thumbnail.extension}}"/>
                {{char.name}}
            </ng-option>
        </ng-select>
    </div>

    <div order-by>
        <ng-select [(ngModel)]="sortedBy"
                   [clearable]="false"
                   [searchable]="false"
                   class="custom">
            <ng-option [value]="'alphabetical'">
                Alphabetical
            </ng-option>
            <ng-option [value]="'most-recent'">
                Most Recent
            </ng-option>
            <ng-option [value]="'low-price'">
                Price - Low to High
            </ng-option>
            <ng-option [value]="'high-price'">
                Price - Hight to Low
            </ng-option>
        </ng-select>
    </div>

    <div limit>
        <ng-select [(ngModel)]="limit"
                   [clearable]="false"
                   [searchable]="false"
                   class="custom">
            <ng-option [value]="15">
                Show 15
            </ng-option>
            <ng-option [value]="30">
                Show 30
            </ng-option>
            <ng-option [value]="50">
                Show 50
            </ng-option>
        </ng-select>
    </div>
    
</div>