<div class="container">
    <div register>
        <div image>
            <img height="54" width="75" src="assets/logo.svg"/>
        </div>
        <div form>
            <div>
                <input type="text" placeholder="Name">
            </div>
            <div>
                <input type="text" placeholder="E-mail">
            </div>
            <div>
                <input type="text" placeholder="Password">
            </div>
            <div>
                <input type="text" placeholder="Confirm Password">
            </div>
            <div button>
                Create account
            </div>
            <div social>
                <div label>
                    Register account using 
                </div>
                <div buttons>
                    <img src="assets/facebook.svg"/>
                    <img src="assets/google.svg"/>
                </div>
            </div>
        </div>
        <div login>
            <div label>I already have a login</div>
            <div button>Back to Login</div>
        </div>
    </div>
</div>