<div options>
    <div search>
        <input type="text" placeholder="Im Looking for...">
    </div>
    <div character>
        <ng-select [(ngModel)]="selectedCharacter"
                   [clearable]="false"
                   [searchable]="false"
                   class="custom"
                   placeholder="Character">
            <ng-option [value]="1">Audi</ng-option>
            <ng-option [value]="2">BMW</ng-option>
            <ng-option [value]="3">Citroen</ng-option>
            <ng-option [value]="4">Ford</ng-option>
            <ng-option [value]="5">Honda</ng-option>
            <ng-option [value]="6">Jaguar</ng-option>
        </ng-select>
    </div>
    <div order-by>
        <ng-select [(ngModel)]="sortedBy"
                   [clearable]="false"
                   [searchable]="false"
                   class="custom">
            <ng-option [value]="'alphabetical'">
                Alphabetical
            </ng-option>
            <ng-option [value]="'most-recent'">
                Most Recent
            </ng-option>
            <ng-option [value]="'low-price'">
                Price - Low to High
            </ng-option>
            <ng-option [value]="'high-price'">
                Price - Hight to Low
            </ng-option>
        </ng-select>
    </div>
    <div limit>
        <ng-select [(ngModel)]="limit"
                   [clearable]="false"
                   [searchable]="false"
                   class="custom">
            <ng-option [value]="15">
                Show 15
            </ng-option>
            <ng-option [value]="30">
                Show 30
            </ng-option>
            <ng-option [value]="50">
                Show 50
            </ng-option>
        </ng-select>
    </div>
</div>