<div background>
    <div class="container">
        <div more-info>
            <div nav-bar>
                <div button (click)="openHomePage()">
                    Back
                </div>
            </div>
            <div content>
                <div image>
                    <img src="assets/placeholders/knights.png">
                </div>
                <div info>
                    <div title>
                        Official Handbook of the Marvel Universe (2004) #10 (MARVEL KNIGHTS)
                    </div>
                    <div params>
                        <div>
                            <strong>Pages:</strong>
                            <br>38
                        </div>
                        <div>
                            <strong>Format:</strong>
                            <br>
                            Comic
                        </div>
                        <div>
                            <strong>Condition:</strong>
                            <br>Good
                        </div>
                    </div>
                    <div description>
                        <div label>Description:</div>
                        <div value>
                            Scelerisque tellus tincidunt tempor purus proin suspendisse dui diam.
                            Consectetur turpis a fermentum hac sit eros.
                            Eu ut ac magna lorem imperdiet tristique justo molestie viverra.
                            Neque ut eu aliquet nibh pellentesque interdum morbi.
                        </div>
                    </div>
                    <div author>
                        <strong>Created at</strong> 03/22/2021
                        <strong>by</strong> Lucas Baumgart
                    </div>
                </div>
                <div action>
                    <div price>
                        <div label>Price</div>
                        <div value>$18</div>
                    </div>
                    <div button favorite>
                        Favorite
                    </div>
                    <div button buy>
                        Buy
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
