<div background>
    <div class="container">
        <div more-info>
            <div nav-bar>
                <div button (click)="openHomePage()">
                    Back
                </div>
            </div>
            <div content>
                <div image>
                    <img src="{{comicService.selectedComic.object.thumbnail.path + '.' + comicService.selectedComic.object.thumbnail.extension}}">
                </div>
                <div info>
                    <div title>
                        {{comicService.selectedComic.title}}
                    </div>
                    <div params>
                        <div>
                            <strong>Pages:</strong>
                            <br>
                            {{comicService.selectedComic.object.pageCount}}
                        </div>
                        <div *ngIf="comicService.selectedComic.object.format">
                            <strong>Format:</strong>
                            <br>
                            {{comicService.selectedComic.object.format}}
                        </div>
                        <div>
                            <strong>Condition:</strong>
                            <br>
                            {{comicService.selectedComic.condition}}
                        </div>
                    </div>
                    <div description>
                        <div label>Description:</div>
                        <div value>
                            {{comicService.selectedComic.object.description}}
                        </div>
                    </div>
                    <div author>
                        <strong>Created at</strong>
                        {{comicService.selectedComic.registerDatetime | date: 'dd/MM/yyyy': '+180'}}
                        <strong>by</strong>
                        {{comicService.selectedComic.name}}
                    </div>
                </div>
                <div action>
                    <div price>
                        <div label>Price</div>
                        <div value>$18</div>
                    </div>
                    <div button favorite>
                        Favorite
                    </div>
                    <div button buy>
                        Buy
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
