@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1080px!important;
    }
}

input {
    border: none;
    height: 48px;
    font-weight: 700;
}
input::placeholder {
    color: #AAAAAA;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

textarea {
    border: none;
    height: 48px;
    font-weight: 700;
}
textarea::placeholder {
    color: #AAAAAA;
}

::-webkit-scrollbar {
    width: 17px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #AAA;
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA, 70%;
}